<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://xsign.co/ios/ipa/9b/9ba10b59f7b15ac78023ec20999f5c9d.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <false/>
                        <key>url</key>
                        <string>https://xsign.co/ios/ico/5a/5a6d2a552051e604101504fde7a3e8a2.png?x-oss-process=style/512x512</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>https://xsign.co/ios/ico/5a/5a6d2a552051e604101504fde7a3e8a2.png?x-oss-process=style/57x57</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.poco.beautyCamera</string>
                    <key>bundle-version</key>
                    <string>4.8.2</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>美人相机</string>
                    <key>title</key>
                    <string>美人相机</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>